* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
}

.heading-text {
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 0.024em;
  word-spacing: 0.05em;
  text-transform: capitalize;
}

.light-text {
  font-weight: 500;
  color: #252525;
  margin: 0 1rem;
  margin-bottom: 4rem;
}

.primary-btn {
  text-align: center;
  margin: 1rem;
  padding: 1.5rem 4rem;
  background-color: #6689ff;
  font-weight: 500;
  color: #ecebeb;
  text-transform: uppercase;
  transition: 500ms ease-out;
}
.primary-btn:hover {
  background-color: black;
  color: white;
}

.primary2-btn {
  text-align: center;
  margin: 1rem 0;
  padding: 1.5rem 4rem;
  background-color: #6689ff;
  font-weight: 500;
  color: #ecebeb;
  text-transform: uppercase;
  transition: 200ms ease-out;
  border: 2px solid transparent;
}
.primary2-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.secondary-btn {
  text-align: center;
  margin: 1rem;
  padding: 1.5rem 4rem;
  background-color: transparent;
  font-weight: 500;
  border: 2px solid white;
  color: #ecebeb;
  text-transform: uppercase;
  transition: 500ms ease-out;
}
.secondary-btn:hover {
  background-color: #6689ff;
  color: white;
}

.btn-box {
  height: fit-content;
  height: max-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
}
.btn-box .primary-btn {
  margin: 1rem;
}

.bottom-line {
  width: 30%;
  height: 3px;
  background-color: #2e2e2e;
  margin-bottom: 2rem;
}

nav {
  padding: 1rem 3rem;
  height: fit-content;
  background-color: white;

  z-index: 20;
}

svg {
  width: 2.5rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  nav {
    position: relative;
  }
  nav .nav-content {
    position: relative;
  }
  nav .nav-content .nav-links {
    position: absolute;
    width: 40%;
    height: fit-content;
    background-color: #fff;
    padding: 2rem;
    top: 5rem;
    right: 0;
    transform: translateY(-40rem) translateX(3rem);
    transition: transform 400ms ease-in-out;
  }

  nav .nav-content .nav-links.show {
    transform: translateY(0rem) translateX(3rem);
  }

  nav .nav-content .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  svg {
    display: block;
  }
}

nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-content img {
  width: 17rem;
}
nav .nav-content .nav-links ul {
  display: flex;
}
nav .nav-content .nav-links ul li {
  list-style: none;
  padding: 1rem 3rem 1rem 0rem;
  color: #252525;
}
nav .nav-content .nav-links ul li a {
  font-weight: 500;
  font-size: 1.7rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid transparent;
  transition: 0.25s all ease-in;
  color: #252525;
}
nav .nav-content .nav-links ul li a:hover {
  color: black;
  border-bottom: 3px solid #6689ff;
}
nav .nav-content .nav-links ul .fam {
  transition: 300ms ease;
  margin: auto;
  font-size: 2.2rem;
  margin-left: 3rem;
  color: #252525;
}
nav .nav-content .nav-links ul .fam i {
  font-weight: 600;
}
nav .nav-content .nav-links ul .fam:hover {
  color: #6689ff;
}

header {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-image: url(../img/main1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-content {
  text-align: center;
  margin: 2rem 0;
}
header .header-content h1 {
  font-size: 7.5rem;
  letter-spacing: 0.05rem;
}
header .header-content p {
}

.service-section .service-content {
  display: flex;
  width: 100%;
  padding: 2rem;
}
.service-section .service-content .service-left {
  flex-basis: 40%;
  padding: 2rem;
}
.service-section .service-content .service-left img {
  width: 80%;
  display: block;
  margin: auto;
}
.service-section .service-content .service-right {
  flex-basis: 60%;
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.service-section .service-content .service-right .service-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 3rem 2rem;
  color: #5f5f5f;
  transform: scale(1);
  transition: all 600ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.service-section .service-content .service-right .service-box h1 {
  font-size: 3.5rem;
  width: 80%;
}
.service-section .service-content .service-right .service-box h2 {
  font-size: 2.2rem;
  line-height: 4rem;
  font-weight: 500;
  color: #2e2e2e;
  width: 80%;
}
.service-section .service-content .service-right .service-box p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1b1929;
}
.service-section .service-content .service-right .service-box:hover {
  color: #6689ff;
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service-section .service-content .service-right .service-box:hover h2,
.service-section .service-content .service-right .service-box:hover p {
  color: black;
}
.service-section
  .service-content
  .service-right
  .service-box:hover
  .bottom-line {
  width: 40%;
  background-color: #6689ff;
}

.service-2 {
  height: 50vh;
  width: 100%;
  background-image: url(../img/service-img-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5rem;
}
.service-2 .service-2-content {
  width: 65%;
  text-align: right;
}
.service-2 .service-2-content h1,
.service-2 .service-2-content p {
  color: white;
}
.service-2 .service-2-content h1 {
  font-size: 3.5rem;
}

.project-section {
  width: 100%;
  height: fit-content;
  padding: 5rem 2rem;
}
.project-section .project-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project-section .project-content .project-top {
  text-align: center;
  max-width: 55rem;
}
.project-section .project-content .project-top h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.project-section .project-content .project-top p {
  font-size: 1.4rem;
}
.project-section .project-content .project-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-section .project-content .project-grid ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project-section .project-content .project-grid ul li {
  padding: 0 2rem;
  max-width: 100%;
  height: auto;
  border-right: 2px solid #6689ff;
}
.project-section .project-content .project-grid ul li:last-child {
  border: none;
}
.project-section .project-content .project-grid ul li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #868686;
  transition: 500ms;
}
.project-section .project-content .project-grid ul li a:hover {
  color: #6689ff;
}
.project-section .project-content .project-grid .grid-box {
  margin: 3rem 1rem;
  max-width: 90%;
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.project-section .project-content .project-grid .grid-box .grid {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  transition: 400ms all ease-in;
}
.project-section .project-content .project-grid .grid-box .grid img {
  max-width: 100%;
  height: auto;
}
.project-section .project-content .project-grid .grid-box .grid .grid-content {
  background-color: white;
  opacity: 0;
  position: absolute;
  height: 100%;
  transform: translateY(-100%);
  transition: 400ms all ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project-section
  .project-content
  .project-grid
  .grid-box
  .grid
  .grid-content
  .grid-text {
  transform: translateY(20rem);
  opacity: 0;
  transition: 400ms all ease-in;
  text-align: center;
  height: fit-content;
}
.project-section
  .project-content
  .project-grid
  .grid-box
  .grid
  .grid-content
  h2 {
  padding: 2rem 0;
}
.project-section
  .project-content
  .project-grid
  .grid-box
  .grid
  .grid-content
  h2
  i {
  color: #6689ff;
}
.project-section
  .project-content
  .project-grid
  .grid-box
  .grid
  .grid-content
  p {
  width: 100%;
  text-align: center;
  padding: 0 1rem;
}
.project-section
  .project-content
  .project-grid
  .grid-box
  .grid:hover
  .grid-content {
  opacity: 1;
}
.project-section
  .project-content
  .project-grid
  .grid-box
  .grid:hover
  .grid-content
  .grid-text {
  opacity: 1;
  transform: translateY(0rem);
}

.years-section {
  height: fit-content;
}
.years-section .years-content {
  display: grid;
  grid-template-areas:
    " left left right"
    "bottom bottom bottom";
  padding: 0 2rem;
}
.years-section .years-content .left {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: left;
  padding-left: 3rem;
}
.years-section .years-content .left .big10 {
  font-size: 40rem;
  font-weight: 600;
  line-height: 1;
  flex-basis: 40%;
  color: #8b43ff;
}
.years-section .years-content .left .ten-content {
  margin-left: 2rem;
  width: 80%;
}
.years-section .years-content .left .ten-content h2 {
  border-left: 3px solid #868686;
  width: min-content;
  line-height: 4rem;
  padding-left: 2rem;
  font-size: 3.5rem;
  margin: 1rem 0;
}
.years-section .years-content .left .ten-content p {
  padding: 1rem 0;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 500;
}
.years-section .years-content .right {
  display: grid;
  grid-area: right;
  height: fit-content;
  padding-right: 2rem;
  padding-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.years-section .years-content .right .box {
  text-align: center;
  height: fit-content;
  padding: 2rem 2rem 2rem 2rem;
}
.years-section .years-content .right .box:first-child {
  border-right: 2px solid #868686;
  border-bottom: 2px solid #868686;
}
.years-section .years-content .right .box:nth-child(2) {
  border-bottom: 2px solid #868686;
}
.years-section .years-content .right .box:nth-child(3) {
  border-right: 2px solid #868686;
}
.years-section .years-content .right .box h1 {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.1;
}
.years-section .years-content .right .box h1 span {
  font-size: 7rem;
  position: relative;
  left: -3rem;
}
.years-section .years-content .right .box h4 {
  letter-spacing: 0.3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #868686;
}
.years-section .years-content .year-bottom {
  grid-area: bottom;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.years-section .years-content .year-bottom .img-box {
  margin: 2rem;
  border: 2px solid #868686;
  line-height: 0;
}
.years-section .years-content .year-bottom .img-box img {
  opacity: 0.5;
  transform: scale(1);
  transition: 400ms all;
  border: 2px solid transparent;
}
.years-section .years-content .year-bottom .img-box:hover {
  border: 2px solid black;
}
.years-section .years-content .year-bottom .img-box:hover img {
  border: 2px solid black;
  opacity: 1;
  transform: scale(0.9);
}

.team-section {
  align-items: center;
}
.team-section .heading-text {
  font-size: 4.2rem;
  text-align: center;
  margin: 2.5rem;
}
.team-section .team-img {
  display: flex;
  width: 100%;
  padding: 0 1.5rem;
  transition: 400ms all;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}
.team-section .team-img img {
  width: 100%;
  filter: grayscale(1);
  transition: 400ms all;
}
.team-section .team-img img:hover {
  width: 100%;
  filter: grayscale(0);
}
.team-section .get-more {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
.team-section .get-more .btn-box {
  justify-content: start;
}
.team-section .get-more .secondary-btn {
  border-color: black;
  color: black;
}
.team-section .get-more .secondary-btn:hover {
  border-color: #6689ff;
  color: #6689ff;
  background-color: transparent;
}
.team-section .get-more .get-more-left {
  flex-basis: 50%;
  padding: 0 8rem;
}
.team-section .get-more .get-more-left h1 {
  text-align: start;
  margin: 2.5rem 0;
}
.team-section .get-more .get-more-left .number-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 3px solid #868686;
  line-height: 1;
  margin-bottom: 3rem;
}
.team-section .get-more .get-more-left .number-box .active {
  color: #6689ff;
  z-index: 10;
}
.team-section .get-more .get-more-left .number-box h2 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #868686;
  padding: 1rem 0;
}
.team-section .get-more .get-more-left h6 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #252525;
  font-weight: 400;
}
.team-section .get-more .get-more-left p {
  width: 85%;
  color: #5f5f5f;
}
.team-section .get-more .get-more-right {
  flex-basis: 50%;
}
.team-section .get-more .get-more-right .phone {
  width: fit-content;
  margin: 0 4rem;
}
.team-section .get-more .get-more-right .phone .org {
  z-index: 5;
  opacity: 0.5;
  transform: scale(0.9) translateY(10%) translateX(60%);
}
.team-section .get-more .get-more-right .phone .clone {
  position: absolute;
  transform: translateY(0%) translateX(-100%);
}
.team-section .review-place {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.team-section .review-place .reviews {
  display: flex;
  justify-content: center;
}
.team-section .review-place .reviews .review-box {
  margin: 1rem;
  padding: 2rem;
  border: 2px solid #ecebeb;
  height: fit-content;
}
.team-section .review-place .reviews .review-box .review-text {
  font: 1.5rem;
  color: #252525;
  font-weight: 500;
  line-height: 2.5rem;
}
.team-section .review-place .reviews .review-box .profile {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 2rem 0;
}
.team-section .review-place .reviews .review-box .profile img {
  width: 7.5rem;
  border-radius: 50%;
}
.team-section .review-place .reviews .review-box .profile div {
  margin: 0 2rem;
}
.team-section .review-place .reviews .review-box .profile div h2 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}
.team-section .review-place .reviews .review-box .profile div p {
  color: #6689ff;
  font-weight: 500;
  font-size: 1.5rem;
}
.team-section .pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-section .pricing-section .price-boxes {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  justify-content: center;
}
.team-section .pricing-section .price-boxes .price-box {
  flex-basis: 33%;
  margin: 1rem;
  display: flex;
  color: white;
  flex-direction: column;
  padding: 6rem 4rem 0 4rem;
  border-radius: 1rem;
  max-width: 100%;
  height: max-content;
  align-items: center;
  background-color: #1b1929;
  overflow: hidden;
}
.team-section .pricing-section .price-boxes .price-box .price {
  text-align: center;
}
.team-section .pricing-section .price-boxes .price-box .price h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.5rem;
}
.team-section .pricing-section .price-boxes .price-box .price h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.team-section .pricing-section .price-boxes .price-box .price p {
  letter-spacing: 0.2rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.team-section .pricing-section .price-boxes .price-box .light h1 {
  font-size: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: line-through;
  line-height: 1;
  color: #5d62642a;
}
.team-section .pricing-section .price-boxes .price-box .contents {
  margin: 0rem 0 5rem 0;
}
.team-section .pricing-section .price-boxes .price-box .contents ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.team-section .pricing-section .price-boxes .price-box .contents ul .not {
  color: #5d6264;
  text-decoration: line-through;
}
.team-section .pricing-section .price-boxes .price-box .contents ul .not i {
  color: #5d6264;
}
.team-section .pricing-section .price-boxes .price-box .contents ul li {
  display: flex;
  padding: 0.8rem 0;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
}
.team-section .pricing-section .price-boxes .price-box .contents ul li i {
  padding-right: 1rem;
  color: #6689ff;
}
.team-section .pricing-section .price-boxes .price-btn-active {
  background-color: #6689ff;
  width: 200%;
  text-align: center;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 2rem;
  transition: 350ms all;
}
.team-section .pricing-section .price-boxes .price-btn-active:hover {
  background-color: black;
  color: #6689ff;
}
.team-section .pricing-section .price-boxes .price-btn {
  background-color: #555555;
  width: 200%;
  text-align: center;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 2rem;
  transition: 350ms all;
}
.team-section .pricing-section .price-boxes .price-btn:hover {
  background-color: black;
  color: #6689ff;
}

.news-section .heading-text {
  font-size: 4.2rem;
  text-align: center;
  margin: 2.5rem;
}

.news-section .blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 3rem 4rem;
  justify-content: center;
}
.news-section .blog-section .blog-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  width: 100%;
  padding: 2rem;
  margin: 1rem;
}
.news-section .blog-section .blog-content .blog-box {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: fit-content;
  padding: 0 1rem;
  transition: 300ms ease all;
  cursor: pointer;
  width: 33.3%;
}
.news-section .blog-section .blog-content .blog-box h2 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  transition: 300ms ease all;
}
.news-section .blog-section .blog-content .blog-box p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #868686;
}
.news-section .blog-section .blog-content .blog-box .img-box {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  transition: 300ms ease all;
}
.news-section .blog-section .blog-content .blog-box .img-box::before {
  content: "07/14";
  position: absolute;
  font-size: 2.2rem;
  bottom: 1rem;
  background-color: white;
  color: #6689ff;
  border-radius: 0 1rem 0 0;
  padding: 2rem;
  font-weight: 500;
  z-index: 10;
}
.news-section .blog-section .blog-content .blog-box .img-box img {
  display: inline-block;
  margin-bottom: 2.5rem;
  transform: scale(1.05);
  transition: 300ms ease all;
  width: 100%;
}
.news-section .blog-section .blog-content .blog-box:hover h2 {
  color: #6689ff;
}
.news-section .blog-section .blog-content .blog-box:hover .img-box img {
  transform: scale(1);
}

.news-section .address-section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.news-section .address-section .address-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  height: fit-content;
}
.news-section .address-section .address-content .address-box {
  height: 32rem;
  overflow: hidden;
  padding: 0 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  border: 2px solid #ecebeb;
  padding: 8rem 5rem;
  margin: 2rem 2rem;
  cursor: pointer;
  transition: all 400ms;
}
.news-section .address-section .address-content .address-box .box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  transition: all 400ms;
}
.news-section .address-section .address-content .address-box .box-content i {
  color: #6689ff;
  padding: 1rem;
  transition: 400ms;
}
.news-section
  .address-section
  .address-content
  .address-box
  .box-content
  .bottom-line-2 {
  height: 0px;
  width: 40%;
  margin: 1rem 0;
  background-color: transparent;
  transition: 400ms;
}
.news-section .address-section .address-content .address-box .box-content p {
  font-weight: 500;
  font-size: 1.9rem;
  transition: 400ms;
}
.news-section .address-section .address-content .address-box:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
.news-section
  .address-section
  .address-content
  .address-box:hover
  .box-content
  .bottom-line-2 {
  background-color: #6689ff;
  margin: 1.5rem 0;
  height: 2px;
}

.conctact-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conctact-section .heading-text {
  font-size: 4.2rem;
  text-align: center;
  margin: 2.5rem;
}
.conctact-section .form-box {
  display: grid;
  align-items: center;
  width: 90%;
  grid-gap: 2rem;
  grid-template-areas:
    "form1 form2 form3"
    "form4 form4 form4"
    "btn npne ndkl";
}
.conctact-section .form-box .contact-btn {
  text-align: start;
  grid-area: btn;
  width: fit-content;
}
.conctact-section .form-box .form {
  width: 100%;
}
.conctact-section .form-box .form :placeholder-shown {
  text-transform: capitalize;
  color: #151515;
}
.conctact-section .form-box .form input {
  display: block;
  width: 100%;
  min-height: 6rem;
  padding: 1.7rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.025em;
  color: #151515;
  background-color: #efefef;
  border-radius: 0;
  -webkit-appearance: none;
  transition: 0.3s ease-in-out;
  border: 1px solid #efefef;
}
.conctact-section .form-box .form textarea {
  width: 100%;
  font-family: sans-serif;
  font-size: 1.8rem;
  padding: 1rem;
  color: #151515;
  background-color: #efefef;
  border: 1px solid #efefef;
}
.conctact-section .form-box .form-1 {
  grid-area: form1;
}
.conctact-section .form-box .form-2 {
  grid-area: form2;
}
.conctact-section .form-box .form-3 {
  grid-area: form3;
}
.conctact-section .form-box .form-4 {
  grid-area: form4;
}

footer {
  background-color: #1b1929;
}
footer .project-grid {
  width: 100%;
  height: 50%;
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-bottom: 1.5px solid #6689ff;
  justify-content: center;
}
footer .project-grid ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer .project-grid ul li {
  padding: 0 2rem;
  width: fit-content;
  border-right: 2px solid #6689ff;
}
footer .project-grid ul li:last-child {
  border: none;
}
footer .project-grid ul li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  transition: 500ms;
  border-bottom: 0.2rem solid transparent;
  padding: 0.5rem 0;
}
footer .project-grid ul li a:hover {
  color: #6689ff;
  border-bottom: 0.15rem solid #868686;
}
footer .foot {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #ecebeb;
}
footer .foot i {
  transition: 500ms;
  padding: 0 1rem;
  font-size: 2rem;
}
footer .foot i:hover {
  color: #6689ff;
}

@media screen and (max-width: 1200px) {
  .years-section .years-content {
    grid-template-areas:
      " left left left"
      "right bottom bottom";
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1130px) {
  .years-section .years-content {
    grid-template-areas:
      " left left left left"
      "right right bottom bottom";
    grid-gap: 6rem;
    align-items: center;
  }
  .years-section .years-content .left {
    max-width: 90%;
  }
  .years-section .years-content .left .big10 {
    font-size: 30rem;
  }
  .service-section .service-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .service-section .service-content .service-left img {
    width: 30%;
    height: 50%;
  }
  .team-section .get-more {
    display: flex;
    align-items: center;
    padding: 3rem 0;
  }
  .team-section .get-more .get-more-left {
    width: 60%;
  }
  .team-section .get-more .get-more-right {
    width: 40%;
  }
}

@media screen and (max-width: 1030px) {
  .team-section .pricing-section .price-boxes {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .news-section .address-section .address-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 930px) {
  .team-section .team-img {
    padding: 0 1.5rem;
    transition: 400ms all;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .team-section .team-img img {
    width: 60%;
    margin: auto;
  }
  .team-section .get-more {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 3rem 0;
  }
  .team-section .get-more .get-more-left {
    width: 90%;
  }
  .team-section .get-more .get-more-right {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .years-section .years-content {
    grid-template-areas:
      " left left left "
      "right right right"
      "bottom bottom bottom";
  }
  .years-section .years-content .year-bottom .img-box {
    margin: 0.8rem;
  }
  .team-section .pricing-section .price-boxes {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .team-section .pricing-section .price-boxes .price-box {
    flex-basis: 45%;
  }
  .review-place .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .review-place .reviews .review-box {
    width: 40%;
    margin: 1rem;
    padding: 2rem;
    height: fit-content;
  }
  .service-2 .service-2-content h1 {
    font-size: 2.5rem;
  }
  .service-2 {
    height: fit-content;
  }
  .team-section .get-more .get-more-right {
  }
  nav .nav-content .nav-links {
    width: 50%;

    transform: translateY(-120vh) translateX(3rem);
  }
}

@media screen and (max-width: 600px) {
  header .header-content h1 {
    font-size: 4.5rem;
  }
  .service-section .service-content .service-right {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-section .service-content .service-right .service-box {
    width: 100%;
  }
  .service-2 .service-2-content {
    width: 100%;
    text-align: center;
  }
  .project-section .project-content .project-grid .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .years-section .years-content .left .big10 {
    font-size: 20rem;
  }
  .years-section .years-content {
    grid-template-areas:
      " left left left "
      "right right right"
      "bottom bottom bottom";
  }
  .years-section .years-content .year-bottom .img-box {
    margin: 0.8rem;
  }
  .team-section .get-more .get-more-right .phone .org {
    z-index: 5;
    opacity: 0.5;
    transform: scale(0.9) translateY(10%) translateX(20%);
  }
  .team-section .pricing-section .price-boxes {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .team-section .pricing-section .price-boxes .price-box {
    flex-basis: 45%;
  }
  .review-place .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .review-place .reviews .review-box {
    width: 40%;
    margin: 1rem;
    padding: 2rem;
    height: fit-content;
  }
  .team-section .review-place .reviews .review-box .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-2 {
    height: fit-content;
  }
  .team-section .get-more .get-more-right .phone {
    width: fit-content;
    margin: 0 0rem;
  }
  .news-section .blog-section .blog-content .blog-box {
    width: 50%;
  }
  nav .nav-content .nav-links {
    width: 100%;
    height: 100vh;
    transform: translateY(-120vh) translateX(3rem);
  }
  @media screen and (max-width: 930px) {
  }
  .team-section .team-img img {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .years-section .years-content .right .box h1 {
    font-size: 5rem;
  }
  .years-section .years-content .right .box h1 span {
    font-size: 4rem;
    left: -1rem;
  }
  footer .foot {
    flex-direction: column;
    gap: 2rem;
  }

  .news-section .blog-section .blog-content .blog-box {
    width: 100%;
  }
  .review-place .reviews .review-box {
    width: 100%;
  }
  .years-section .years-content .left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .years-section .years-content .left .big10 {
    font-size: 10rem;
  }
  .years-section .years-content .left {
    display: flex;
    flex-direction: column;
  }
  .team-section .pricing-section .price-boxes .price-box {
    flex-basis: 100%;
  }
  .team-section .get-more .get-more-right .phone .org {
    z-index: 5;
    opacity: 0.5;
    transform: scale(0.9) translateY(10%) translateX(10%);
  }
  .team-section .get-more .get-more-right .phone .clone {
    position: absolute;
    transform: translateY(0%) translateX(-120%);
  }
  .team-section .get-more .get-more-left {
    flex-basis: 50%;
    padding: 0 1rem;
  }
}

